*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f9;
}

button {
  background-color: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  box-sizing: border-box;
  color: #396df2;
  cursor: pointer;
  margin: 28px 40px 40px 24px;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 13px 23px;
  transition: all 0.5s ease;
}

button:hover {
  background: #5076cf;
  color: #fff;
}

.portfolio-header {
  border-bottom-left-radius: 80px;
  background: url("./Images/Header\ bg@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  background-position: top 80px center;
  margin-top: 0;
  padding-bottom: 32px;
  min-height: calc (100vh - 60px);
  position: relative;
}

.projects img {
  width: 100%;
}

/* modal */
header nav {
  background: #fff;
  margin-top: 0;
  padding-top: 0;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.portfolio-header .nav-center {
  margin: 0;
  padding: 0;
}

.self-description h1 {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-top: 114px;
}

.language-item h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.nav-header .logo h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #6070ff;
}

.nav-header .nav-toggle {
  font-size: 1.5rem;
  color: #255374;
  background: transparent;
  outline: none;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  position: relative;
}

.nav-header .nav-toggle:hover {
  color: #063251;
}

.nav-center .links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  list-style: none;
}

.social-media-icons a {
  color: #505f79;
  width: 1.8rem;
  height: 1.87rem;
}

.language-item a {
  margin-right: 24px;
  color: #172b4d;
}

.nav-center .links a {
  font-family: "Poppins", sans-serif;
  color: #273746;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  text-decoration: none;
}

.nav-center .links a:hover {
  color: #0a0b0c;
  padding-left: 1.5rem;
}

.nav-center .links.show-links {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(5px);
  background-color: #6070ff;
  opacity: 0.9;
  color: #fff;
  padding-top: 120px;
  margin-top: 0;
}

.nav-center .links.show-links li a {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.nav-center .links.show-links::after {
  content: "";
  display: block;
  width: 300px;
  height: 5px;
  position: absolute;
  bottom: 0;
  background: #000;
  margin: 0 60px 20px 60px;
}

.nav-center .links .menu-item {
  margin: 3px;
}

.active::after {
  content: "";
  width: 40px;
  height: 3px;
  margin-top: -20px;
  display: inline-block;
  background: rgb(223, 162, 83);
  transition: all 0.5s ease;
}

.nav-toggle .fa-times {
  position: absolute;
  z-index: 100;
  color: #fff;
  right: 0;
  top: 0;
  font-size: 24px;
  margin: -10px 8px 0 0;
  display: none;
}

.nav-toggle .fa-bars.open-icon {
  display: none;
}

.nav-toggle .fa-times.close-icon {
  display: block;
}

/* modal */

.modal-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background-color: #f7f7f9;
  top: 0;
  left: 50%;
  transform: translate(50%, 50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.5s, top 0.5s;
}

.modal-container .card {
  margin: 0;
  background: #fff;
  padding: 0;
  height: 100%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-container.open-popup {
  top: 55%;
  transform: translate(-50%, -50%) scale(0.8);
  visibility: visible;
  width: 100%;
  z-index: 99;
}

.card .card-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card .card-header h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 0;
  padding-inline-start: 0;
}

.card .card-header .close-icon {
  position: absolute;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
  right: 0;
  cursor: pointer;
}

.card .card-header .companies {
  display: flex;
  gap: 12px;
  margin: 0;
  padding-inline-start: 0;
}

.card-languages .languages-used li {
  list-style: none;
  background: #ebebee;
  border-radius: 8px;
  margin-left: 0;
  padding: 4px 12px;
  color: #6070ff;
}

.card .card-header .companies li {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-bottom: 20px;
}

.card .card-body img {
  width: 80%;
}

.self-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.contact-header p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 12px 24px 0 24px;
}

.card .card-description p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.card .card-languages {
  display: flex;
  align-items: flex-start;
}

.card-languages .languages-used {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-inline-start: 0;
}

.button-container {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.button-container .btn {
  background-color: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  box-sizing: border-box;
  color: #396df2;
  cursor: pointer;
  margin: 28px 0;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  text-transform: capitalize;
  padding: 13px;
  transition: all 0.5s ease;
}

.button-container .btn:hover {
  background: #5076cf;
  color: #fff;
}

/* end of modal */

.headline {
  margin: 32px 12px 12px 12px;
}

.headline-header {
  margin: 24px;
  padding-top: 120px;
}

.portfolio-owner {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-the-author {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.social-media-links {
  margin-bottom: 36px;
}

.social-media-links h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  text-transform: uppercase;
}

.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  list-style: none;
  font-size: 18px;
  margin: 0 0 64px -20px;
}

.social-media-icons .fa {
  color: #505f79;
}

/* Work Section */

.work-section {
  background-color: #f9f9f7;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  position: relative;
}

.projects-cards:first-child {
  display: none;
}

.projects-card {
  margin: 88px 24px 0 24px;
  border-radius: 10px;
  background-color: #fff;
  padding: 12px;
}

.project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: start;
  padding: 0 24px;
  color: #172b4d;
  margin-top: 0;
}

.project-screenshot {
  padding: 12px;
}

.courses {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 24px 0 0 -25px;
}

.author-role-company {
  display: block;
  margin: 0;
}

.link-items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-left: -20px;
  margin-top: 0;
}

.canopy {
  color: #344563;
}

.list-item {
  color: #7a869a;
}

.work-description {
  display: flex;
  align-items: center;
  text-align: start;
  padding: 0 24px;
  margin-top: 0;
}

.project-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 24px 0 0 0;
  padding: 0;
}

.course-list {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.courses-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  margin-left: 10px;
}

.courses-list:nth-child(2) {
  display: none;
}

/* About Myself section */

.about-myself-section {
  margin: 114px 24px 24px 24px;
  border-top-right-radius: 60px;
  padding-bottom: 114px;
  background-color: #fff;
}

.self-description {
  margin: 114px 24px 0 24px;
}

.self-description .social-media-links {
  margin-left: -20px;
}

.languages {
  margin-right: 24px;
}

.language {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0 12px 0;
  gap: 12px;
  padding: 12px;
}

.language-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.hand-cursor {
  display: none;
}

.framework-skills {
  border-bottom: 1px solid #dddde4;
}

/* Footer section */

.footer-section {
  background: url("./Images/contact\ form\ shapes-mobile.png");
  border-top-left-radius: 80px;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #6070ff;
  padding-bottom: 12px;
  position: relative;
  min-height: 100vh;
}

.contact-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-header .contact-title {
  font-style: normal;
  margin-top: 123px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

.contact-form {
  margin: 48px 24px;
}

.contact-form .input-field {
  display: flex;
  align-items: center;
  padding: 0 24px 18px 24px;
}

.contact-form .input-field .input,
.contact-form .input-field .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  font-weight: 400;
  padding: 15px 38px 15px 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

input::placeholder,
textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.contact-form .input-field .textarea {
  resize: none;
  height: 170px;
}

.contact-form .input-field .input:focus,
.contact-form .input-field .textarea:focus {
  border: 1px solid #384404;
}

.contact-form .input-field .btn {
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  border: 0.3px dotted white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  transition: all 0.5s ease;
}

.contact-form .input-field .btn:hover {
  background: #5076cf;
  color: #fff;
}

.bottom-rectangle {
  width: 134px;
  height: 5px;
  position: absolute;
  left: 107px;
  bottom: 10px;
  background: #0d151e;
  border-radius: 10px;
  margin-bottom: 0;
}

/* Large Screen - Tablet */
@media (min-width: 500px) {
  .headline-container {
    margin: 36px 64px 0 64px;
    background: transparent;
  }

  .card .card-body img {
    width: 80%;
    object-fit: contain;
  }

  .modal-container {
    padding: 12px 0;
  }

  .modal-container .card {
    background: #fff;
    width: 80%;
    padding: 24px;
    border-radius: 15px;
  }

  .modal-container.open-popup {
    top: 45%;
    transform: translate(-50%, -50%) scale(0.7);
    visibility: visible;
    width: 100%;
    z-index: 99;
  }
}

/* Large screen - Desktop */

@media (min-width: 768px) {
  .portfolio-header {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 70px;
    background-color: #fff;
  }

  .navigation {
    margin: 12px 155px;
  }

  /* modal */

  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-container.open-popup {
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    visibility: visible;
    width: 100%;
    z-index: 99;
  }

  .modal-container .card {
    background: #fff;
    padding: 0;
    border-radius: 15px;
    width: 100%;
  }

  .modal-container .card .card-header .companies {
    display: flex;
    gap: 12px;
    margin-top: -20px;
    padding-top: 0;
    padding-inline-start: 0;
  }

  .modal-container .card .card-header .close-icon {
    position: absolute;
    top: 10;
    right: 0;
    margin-right: 20px;
  }

  .modal-container .card .card-description-container {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    column-gap: 24px;
  }

  .modal-container .card .card-languages .languages-used {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-inline-start: 0;
    padding-bottom: 15px;
    border-bottom: 0.3px solid #d4d7dd;
  }

  .modal-container .card .card-description-container .card-language-buttons .button-container button {
    background: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
    color: #396ff2;
  }

  .hand-cursor img {
    width: 57px;
    height: 57px;
  }

  .projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card .card-body img {
    width: 70%;
  }

  .modal-container .card .card-description-container .card-language-buttons button:hover {
    background: #889ed6;
    color: #fff;
  }

  /* modal */

  .portfolio-header nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
  }

  .portfolio-header nav .nav-center {
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .portfolio-header nav .nav-center .nav-header {
    padding: 0;
  }

  .portfolio-header nav .nav-center .nav-header .nav-toggle {
    display: none;
  }

  .portfolio-header nav .nav-center .links {
    height: auto;
    display: flex;
    list-style: none;
  }

  .portfolio-header nav .nav-center .links a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .portfolio-header nav .nav-center .links a:hover {
    padding: 0;
    background: transparent;
  }

  .headline {
    padding-bottom: 88px;
    background-size: contain;
    background-position: center;
  }

  .headline-container {
    margin: 36px 100px 0 100px;
    background: transparent;
  }

  .work-section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .projects-card {
    display: flex;
    margin: 24px 142px;
    padding: 48px;
    gap: 18px;
  }

  .author-role-company {
    display: block;
    margin: 0;
  }

  .projects-card:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .projects-card:first-child {
    display: flex;
  }

  .courses-list:nth-child(2) {
    display: flex;
  }

  .card-body.hand-cursor-position {
    position: relative;
  }

  .hand-cursor {
    display: block;
    position: absolute;
    bottom: 45px;
    right: 20px;
  }

  .work-description {
    margin: 0;
    padding: 0 24px;
  }

  .about-myself-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top-right-radius: 80px;
  }

  .self-description {
    margin-left: 64px;
    margin-top: 0;
  }

  .self-description .social-media-links {
    margin-left: -25px;
  }

  .languages-learned {
    margin: 142px 24px 0 0;
  }

  .language-body .language {
    display: block;
  }

  .language-body {
    display: flex;
    gap: 12px;
  }

  .language span {
    text-align: center;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .contact-header {
    margin-bottom: 12px;
  }

  .contact-form,
  .contact-header {
    width: 40%;
  }

  .input-field:last-child {
    margin-top: 24px;
    margin-left: 23%;
  }

  .bottom-rectangle {
    display: none;
  }
}

@media (min-width: 980px) {
  .headline-container {
    margin: 36px 160px 0 160px;
    background: transparent;
  }

  .hand-cursor {
    display: block;
    position: absolute;
    bottom: 45px;
    right: 28px;
  }

  .self-description {
    margin-left: 124px;
    margin-top: 0;
  }

  .card .card-body img {
    width: 80%;
    object-fit: contain;
  }

  .modal-container .card {
    background: #fff;
    width: 80%;
    padding: 24px;
    border-radius: 15px;
  }

  .modal-container.open-popup {
    top: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    visibility: visible;
    width: 100%;
    z-index: 99;
  }

  .modal-container .card .card-description-container {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    column-gap: 24px;
  }

  .modal-container .card .card-description-container .card-language-buttons .button-container button {
    font-size: 15px;
  }
}
